<!DOCTYPE html>
<html lang="es">

<head>
	<title>Mis Datos</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Shangri-La Dubai <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="/static/img/avatars/AdminMaleAvatar.png" alt="UserIcon">
					<figcaption class="text-center text-titles">{{session['nombre']}}</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a class="link" href="/misDatos" title="Mis datos">
							<i class="zmdi zmdi-account-circle"></i>
						</a>
					<li>
						<a href="#!" title="Salir del sistema" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>

			{% if session['rol'] == 'superadministrador' or session['rol'] == 'administrador' %}
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="/">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Administración <i
							class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a class="link" href="/ListaDeHabitaciones"><i class="zmdi zmdi-balance zmdi-hc-fw"></i>
								Habitaciones</a>
						</li>
						<li>
							<a class="link" href="/NuevaHabitacion"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Nueva
								Habitación</a>
						</li>
					</ul>
				</li>
				<li>
					{% if session['rol'] == 'superadministrador'%}
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i
							class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					{% endif %}
					<ul class="list-unstyled full-box">
						<li>
							<a class="link" href="/ListaDeAdministradores"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Administradores</a>
						</li>
						<li>
							<a class="link" href="/listaDeClientes"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Clientes</a>
						</li>
					</ul>
				</li>
			</ul>
			{% endif %}
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-account-circle zmdi-hc-fw"></i> MIS DATOS</small></h1>
			</div>
		</div>

		<!-- Panel mis datos -->
		<div class="container-fluid">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="zmdi zmdi-refresh"></i> &nbsp; MIS DATOS</h3>
				</div>
				<div class="panel-body">
					<form>
						<fieldset>
							<legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información personal</legend>
							<div class="container-fluid">
									<div class="col-xs-12 col-sm-6">
										<div class="form-group label-floating">
											<h3>Nombres: <h4>{{session['nombre']}}</h4></h3>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="form-group label-floating">
											<h3>Apellidos: <h4>{{session['apellido']}}</h4></h3>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="form-group label-floating">
											<h3>Teléfono: <h4>{{session['telefono']}}</h4></h3>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group label-floating">
											<h3>Dirección: <h4>{{session['direccion']}}</h4></h3>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</section>

	<!--====== Scripts -->
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/sweetalert2.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/material.min.js"></script>
	<script src="../static/js/ripples.min.js"></script>
	<script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../static/js//main.js"></script>
	<script>
		$.material.init();
	</script>
</body>

</html>